<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ACNLP Product</title>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/head.css"/>
    <link type="text/css" href="stylesheets/product.css" rel="stylesheet">
    <script src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>

<body>
<!--页眉-->
	<div class="head-wrap">
        <div class="head">
        	<div class="row">
        		<div class="col-md-4"><div class="head-brand"></div></div>
        		<div class="col-md-8">
        			<ul class="nav head-nav">
		                <li><a href="/">首页</a></li>
		                <li class="active"><a href="/product">产品</a></li>
		                <li><a href="/api">文档</a></li>
		                <li><a href="/demo">演示</a></li>
		                <li><a href="http://autobot.acnlp.com:3000">智能客服</a></li>
		                <li><a href="/about">关于</a></li>
		            </ul>
        		</div>
        	</div>
        </div>
    </div>	
	<!--容器-->
		<div class="container-fluid">
			<div class="container">
			    <div class="abstract1">
					<img src="images/product-1.png" class="product-1"/>
					<div class = "description1">
						<img src="images/title-1.png" class="title"/>
					  	<p>从原始文献中自动准确地提取精髓表达，大量减少人工阅读及采编量， 适用于报刊杂志、新闻社，图书馆的文章编纂采集等工作。</p>
					</div>
				</div>
			</div>
		</div>
		
		
		<div class="container-fluid">
			<div class="container">
				<div class="abstract2">
					<div class = "description2">
						<img src="images/title-2.png" class="title"/>
					  	<p>根据文章内容特性进行自动分属归类， 适用于报刊杂志、新闻社，图书馆的文章分类存档，收纳等工作。</p>
					</div>
					<img src="images/product-2.png" class="product-2"/>
				</div>
			</div>
		</div>
		<div class="container-fluid">
			<div class="container">
				<div class="abstract1">
					<img src="images/product-3.png" class="product-1"/>
					<div class = "description1">
						<img src="images/title-3.png" class="title"/>
					  	<p>将受众真正关心的文章进行相似性归类，并做出个性化推荐，最大程度地保证推送的精准度。适用于企业、自媒体人、网络营销人等进行的广告</p>
					</div>
				</div>
			</div>
		</div>
		
		
		<div class="container-fluid">
			<div class="container">
				<div class="abstract3">
					<img src="images/product-4.png" class="product-3"/>
					<div class = "description3">
						<img src="images/title-4.png" class="title"/>
					  	<p>从原始文献中自动准确地提取精髓表达，大量减少人工阅读及采编量， 适用于报刊杂志、新闻社，图书馆的文章编纂采集等工作。</p>
					</div>
				</div>
			</div>
		</div>
		
		
		
		<div class="container-fluid">
			<div class="container">
				<div class="abstract1">
				<img src="images/product-5.png" class="product-1"/>
					<div class = "description1">
						<img src="images/title-5.png" class="title"/>
					  	<p>透过现象看本质，从文章及会话中挖掘出深层次的感情色彩及内在涵义，满足人们普遍心理和情感需求，逐步建立信任和依赖感，提供更好的情</p>
					</div>
				</div>
			</div>
		</div>
	
	<!--页脚-->
	<div class="foot">
		<div class="row">
			<div class="col-md-4">ALL RIGHTS RESERVED 2016</div>
			<div class="col-md-8">
				CREATED BY AVATHEMES
			</div>
		</div>
	</div>	
</body>
</html>

