/*
 * Globals
 */

body {
    color: rgb(89,89,89);
	height: 100%;
	overflow-x: hidden;
	font-family: "Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti;
}





.head-nav > li {
    height: 100%;
    display: inline-block;
    margin-left: 20px;
    padding: 4px;
}
.head-nav > li >a{
	padding: 10px 0;
}
/*内容*/
.container-fluid:nth-child(odd){
	background-image: url(../images/silde-2-bg.png);
}

.container .abstract1{
	height: 370px;
	position: relative;
}

.abstract1 .product-1{
	margin: 65px 0 0 120px;
	width: 360px;
	height: 225px;
}
.abstract1 p{
	padding-top: 20px;
}
.abstract1 .description1{
	position: absolute;
	width: 350px;
    right: 120px;
    top: 100px;
    color: rgb(142,142,142);
}

.container .abstract2{
	height: 370px;
	position: relative;
    text-align: right;
}
.abstract2 .product-2{
	margin: 65px 120px 0 0;
	width: 360px;
	height: 225px;
}
.abstract2 p{
	padding-top: 20px;
}
.abstract2 .description2{
	position: absolute;
	width: 340px;
    top: 100px;
    left: 120px;
    color: rgb(142,142,142);
    text-align: left;
}

.container .abstract3{
	height: 370px;
	position: relative;
}
.abstract3 .product-3{
	margin: 50px 0 0 650px;
	width: 360px;
	height: 225px;
}
.abstract3 p{
	padding-top: 20px;
}
.abstract3 .description3{
	position: relative;
	width: 340px;
    top: -160px;
    left: 135px;
    color: rgb(142,142,142);
}
.foot{
	text-align: center;
	position: inherit;
}




















